# User requested ignore
verify_data.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
summative_venv/
venv/
.env

# Data (Large files should not be committed)
*.csv
*.parquet
data/yellow_tripdata_2019-01.csv
cleaned_integrated_data.parquet

# Logs
logs/
